[package]
name = "helloworld"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
inferlet = { path = "../../sdk/rust/inferlet" }
serde = { version = "1.0", features = ["derive"] }

[profile.release]
lto = true
